
.hero{
  display: flex;
  flex-direction: column;
  gap: 5%;

  display: none;
}

.hero .hero-head{
  display: flex;
  justify-content: space-between;
}

.hero .hero-head .company{
  display: flex;
  gap: 0.2rem;
}

.hero .hero-head .company .logo{
  width: 30px;
  height: auto;
}

.hero .hero-head nav{
  display: flex;
  gap: 1.5rem
}


.hero .hero-main{
  display: flex;
  overflow: hidden;
  

  width: 100%;
  height: 75%;

  background-color: var(--hero-bg);
  border-radius: 60px;

  padding: 2% 5% 0 5%;
}

.hero .hero-main .text{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem
}

.hero .hero-main .text .title {
  width: 50%;
  height: fit-content;
}

.hero .hero-main .text .title span {
  position: relative;
  display: inline-block; 
  padding: 1% 3%;
  background-color: transparent;
  z-index: 1;
}

.hero .hero-main .text .title span:nth-child(odd)::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-5deg); 
  z-index: -1; 
  background-color: var(--main-bg-color);
}

.hero .hero-main .text .title span:nth-child(even)::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-5deg); 
  z-index: -1; 
  background-color: var(--second-bg-color);
}



.hero .hero-main .text .sub-title {
  font-weight: 300;
}

.hero .hero-main .picture {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.hero .hero-main .picture .img{
  width: 100%;
  height: auto;
}



.brands {
  width: 100%;
  height: 20vh;
  background-color: var(--second-bg-color);
}

.brands .brands-handler{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 100%;
}
